.footer {
    background-color: $yellow;
    padding-top: $block-padding-desktop;
    padding-bottom: $block-padding-desktop;
    position: relative;
    overflow: hidden;
    transition: $duration;
    @include mobile {
        padding-top: $block-padding-mobile;
        padding-bottom: $block-padding-mobile;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='296' height='72' viewBox='0 0 296 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 72L4.82309 18L67.1769 18L36 72Z' fill='white'/%3E%3Cpath d='M148 72L116.823 18L179.177 18L148 72Z' fill='white'/%3E%3Cpath d='M260 72L228.823 18L291.177 18L260 72Z' fill='white'/%3E%3C/svg%3E%0A");
        top: rem(-28);
        right: rem(47);
        z-index: 1;
        width: rem(296);
        height: rem(72);
        background-size: 100% 100%;
        @include mobile {
            content: none;
        }
    }
    .container {
        z-index: 2;
        display: grid;
        grid-template-columns: rem(600) 1fr;
        column-gap: rem(300);
        row-gap: rem(155);
        align-items: center;
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: initial;
            column-gap: initial;
        }
    }
    &-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &.title-group {
            @include mobile {
                order: 1;
            }
        }
        &.phones-group {
            @include mobile {
                order: 2;
                margin-top: mobrem(56);
            }
        }
        &.contacts-group {
            @include mobile {
                order: 3;
                margin-top: mobrem(16);
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &.address-group {
            @include mobile {
                order: 4;
                margin-top: mobrem(30);
            }
        }
        &.develop-group {
            @include mobile {
                order: 5;
                margin-top: mobrem(78);
            }
        }
        &.copyright-group {
            @include mobile {
                order: 6;
                width: 100%;
                position: relative;
            }
        }
    }
    // &-title {
    //     font-size: rem(100);
    // }
    &-address {
        font-style: normal;
        text-transform: uppercase;
        font-size: rem(40);
        font-weight: 700;
        line-height: 1.4;
        @include mobile {
            font-size: mobrem(24);
        }
        a {
            display: block;
            transition: $duration;
            &:hover {
                color: #494949;
            }
        }
        span {
            font-size: rem(24);
            font-weight: 700;
            display: block;
            @include mobile {
                font-size: mobrem(16);
            }
        }
    }
    &-phones {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            font-size: rem(56);
            font-weight: 600;
            line-height: 1.2;
            transition: $duration;
            @include mobile {
                font-size: mobrem(24);
            }
            &:hover {
                color: #494949;
            }
            &:not(:last-child) {
                margin-bottom: rem(50);
                @include mobile {
                    margin-bottom: mobrem(16);
                }
            }
        }
    }
    &-socials {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: rem(70);
            @include mobile {
                // margin-top: mobrem(30);
                margin-top: mobrem(56);
                margin-bottom: 0;
            }
        }
        a {
            display: block;
            transition: $duration;
            &:hover {
                color: #494949;
            }
            &:not(:last-child) {
                margin-right: rem(24);
                @include mobile {
                    margin-right: mobrem(24);
                }
            }
        }
        svg {
            width: rem(64);
            height: rem(64);
            @include mobile {
                width: mobrem(32);
                height: mobrem(32);
            }
        }
    }
    &-mails {
        a {
            font-size: rem(32);
            line-height: 1.2;
            font-weight: 600;
            transition: $duration;
            @include mobile {
                // font-size: mobrem(16);
                font-size: mobrem(20);
            }
            &:hover {
                color: #494949;
            }
        }
    }
    &-develop {
        font-size: rem(24);
        line-height: 1.2;
        font-weight: 600;
        @include mobile {
            font-size: mobrem(20);
        }
        a {
            text-decoration: underline;
            transition: $duration;
            &:hover {
                color: #494949;
            }
        }
    }
    &-copyright {
        font-size: rem(24);
        line-height: 1.2;
        font-weight: 600;
        @include mobile {
            font-size: mobrem(32);
            font-weight: 400;
            transform: rotate(-90deg);
            transform-origin: left top;
            position: absolute;
            right: mobrem(-38);
        }
    }
}